.content {
  line-height: 3;
  font-size: 13px;

  .item {
    text-align: left;
    .title{
    	font-size: 16px;
    	font-weight: bold;
    	line-height: 3;
    	color: #222;
    }
    span{
    	display: inline-block;
    	width: 30%;
    }
    span.kdTime{
      max-width: 200px;
    }
  }
}
